.timeline-container {
    position: relative;
    width: 960px;
    margin: 50px auto 0 auto;
}

.timeline-container::after{
    content: '';
    position: absolute;
    width: 3px;
    background-color: #F5F5F5;
    top: -15px;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.text-wrapper{
    padding : 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
    margin: 50px 0;
}

.text-wrapper::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -8px;
    background-color: #FDDD92;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left{
    left: 0;
}

.right{
    left: 50%;
}

.right::after{
    left: -10px;
}

.text{
    padding: 15px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.text h3{
    text-transform: uppercase;
    font-size: 16px;
    color: #212121;
    letter-spacing: 2px;
    font-family: 'Alata', sans-serif;
    font-weight: 500;
}

.text h3 > a {
    position: relative;
    color: #000;
    text-decoration: none;
}

.text h3 > a:hover {
    color: #000;
}

.text h3 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.text h3 > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.text {
    color: #616161;
    font-weight: 300;
    font-size: 12px;
    margin-top: 2px;
    font-family: 'Nanum Gothic', sans-serif;
}

.intitule {
    color: #212121;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 20px;
}

.logo {
    width: 167px;
    height: 40px;
}

header {
    padding: 25px 0;
    border-bottom: solid 3px #F5F5F5;
}

body {
    width: 960px;
    margin: 0 auto;
}

.icon-right {
    width: 24px;
    height: 24px;
    float: right;
    padding: 5px;
}

.center {
    text-align: center;
}

<<<<<<< HEAD
h3 {
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
=======
h1 {
    font-family: 'Alata', sans-serif;
    letter-spacing: 1px;
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
>>>>>>> cc6a16363a23152423ae17ddcf5965ebb1f468de
}

h2 {
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    color: #616161;
<<<<<<< HEAD
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
}
=======
    font-size: 18px;
    letter-spacing: 8px;
    margin-top: -12px;
    font-weight: 100;
}
  
  .ml9 .text-animation {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }
>>>>>>> cc6a16363a23152423ae17ddcf5965ebb1f468de
