body {
    margin: 0 auto;
}

header {
    border-bottom: solid 3px #F5F5F5;
    margin-top: 15px;
}

.title {
    font-size: 21px;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 6px 0;
}

.bold-title {
    font-size: 21px;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 6px 0;
}

.underscore {
    color: #FDDD92;
    font-weight: 700;
    font-size: 28px;
}

.bold {
    font-weight: 700;
}
.iconHeader {
    float: right;
    padding: 15px 8px;
}

.center {
    text-align: center;
}

p {
    font-size: 16px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
}

.timeline-container {
    position: relative;
    width: 960px;
    margin: 50px auto 0 auto;
}

.timeline-container::after{
    content: '';
    position: absolute;
    width: 3px;
    background-color: #F5F5F5;
    top: -15px;
    bottom: -50px;
    left: 50%;
    margin-left: -1px;
}

.text-wrapper{
    padding :10px 40px 10px 20px;
    position: relative;
    background-color: inherit;
    width: 52%;
    box-sizing: border-box;
}


.text-wrapper::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    background-color: #FDDD92;
    top: 35px;
    border-radius: 50%;
    z-index: 1;
}

.left{
    left: 0;
}

.right{
    left: 50%;
}

.right::after{
    left: -6px;
}

.text{
    padding: 20px;
    background-color: #F5F5F5;

}

a {
    color: #212121;
}


a:hover {
    text-decoration: none;
}

.text:hover {
    box-shadow: 0px 5px 5px -5px #616161;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
}

.shadow {
    box-shadow: 0px 5px 5px -5px #616161;
}

.text h3{
    text-transform: uppercase;
    font-size: 18px;
    color: #212121;
    letter-spacing: 2px;
    font-family: 'Alata', sans-serif;
    font-weight: 500;
}

.text {
    color: #616161;
    font-weight: 300;
    font-size: 12px;
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
}

.intitule {
    color: #212121;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    margin: 25px 0;
}

h1 {
    font-family: 'Alata', sans-serif;
    position: relative;
    font-size: 2.2em;
    color: #FDDD92;
}

.projet-title {
    padding-top: 1.5em;
}

.projet {
    padding-bottom: 2em;
}

.description {
    margin: 8% 5%;
}

h3 {
    font-family: 'Alata', sans-serif;
    position: relative;
    font-size: 2em;
    color: #FDDD92;

}

h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #616161;
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: 300;
}
  
  .ml9 .text-animation {
    position: relative;
    display: inline-block;
    padding-top: 1.5em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  .date {
      font-size: 11px;
  }

  .yellow {
      width:90px;
      height:20px;
      background: #FDDD92;
      margin-left: -25px;
      position: absolute;
  }

  .stack {
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  .title-stack {
      height: 35px;
  }

  .techno {
    color: #212121;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;

}

.yellow-footer {
    background-color: #FDDD92;
    height: 100px;
}

.white {
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 35px 0;
    letter-spacing: 2px;
}

.slogan {
    font-size: 1.4em;
    font-family: 'Alata', sans-serif;
}

.divider {
    margin: 6%;
}

.underline {
    border-top: solid 2px #FDDD92;
    width: 100px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.grey-bg {
    background-color: #c8c8ca;
}

.bc {
    font-size: 12px;
}

.bc-right {
    float: right;
}

.top {
    margin-top: 10px;
}


@media (max-width: 767.98px) {

    .bold-title {
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .headerLink {
        text-align: center;

    }

    .iconHeader {
        float: none;
    }

    .right{
        left: 0;
    }
    .timeline-container::after{
        display: none;
    }

    .text-wrapper::after{
        display: none;
    }

    h1 {
        font-size: 1.7em;
    }

    .timeline-container {
        width: 760px;
        margin: 0 auto;
    }

}