/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  /* Button styling */
  .menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
  }
  
  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  .main-menu {
    position: absolute;
    display: none;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    z-index: 999;
  }
  
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    min-height: 100%;
    width: 225px;
    background: #1a1a1a;
  }
  
  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid #383838;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: none;
  }
  
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /*
   On small devices, allow it to toggle...
  */
  /*
   :target for non-JavaScript
   [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
  */
  .main-menu:target,
  .main-menu[aria-expanded="true"] {
    display: block;
    right: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
  }
  
  .main-menu:target .menu-close,
  .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
  }
  
  .main-menu:target ul,
  .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
  }
  
  /* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
  }
  
  @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
      position: fixed;
    }
  }
  
  

  







body {
    margin: 0 auto;
}

header {
    border-bottom: solid 3px #F5F5F5;
    margin-top: 15px;
}

.title {
    font-size: 21px;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 6px 0;
}

.bold-title {
    font-size: 21px;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 6px 0;
}

.underscore {
    color: #FDDD92;
    font-weight: 700;
    font-size: 28px;
}

.bold {
    font-weight: 700;
}
.iconHeader {
    float: right;
    padding: 15px 8px;
}

.center {
    text-align: center;
}

p {
    font-size: 16px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
}

.timeline-container {
    position: relative;
    width: 960px;
    margin: 50px auto 0 auto;
}

.timeline-container::after{
    content: '';
    position: absolute;
    width: 3px;
    background-color: #F5F5F5;
    top: -15px;
    bottom: -50px;
    left: 50%;
    margin-left: -1px;
}

.text-wrapper{
    padding :10px 40px 10px 20px;
    position: relative;
    background-color: inherit;
    width: 52%;
    box-sizing: border-box;
}


.text-wrapper::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    background-color: #FDDD92;
    top: 35px;
    border-radius: 50%;
    z-index: 1;
}

.left{
    left: 0;
}

.right{
    left: 50%;
}

.right::after{
    left: -6px;
}

.text{
    padding: 20px;
    background-color: #F5F5F5;

}

a {
    color: #212121;
}


a:hover {
    text-decoration: none;
}

.text:hover {
    box-shadow: 0px 5px 5px -5px #616161;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
}

.shadow {
    box-shadow: 0px 5px 5px -5px #616161;
}

.text h3{
    text-transform: uppercase;
    font-size: 18px;
    color: #212121;
    letter-spacing: 2px;
    font-family: 'Alata', sans-serif;
    font-weight: 500;
}

.text {
    color: #616161;
    font-weight: 300;
    font-size: 12px;
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
}

.intitule {
    color: #212121;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    margin: 25px 0;
}

h1 {
    font-family: 'Alata', sans-serif;
    position: relative;
    font-size: 2.2em;
    color: #FDDD92;
}

.projet-title {
    padding-top: 1.5em;
}

.projet {
    padding-bottom: 2em;
}

.description {
    margin: 8% 5%;
}

h3 {
    font-family: 'Alata', sans-serif;
    position: relative;
    font-size: 2em;
    color: #FDDD92;

}

h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #616161;
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: 300;
}
  
  .ml9 .text-animation {
    position: relative;
    display: inline-block;
    padding-top: 1.5em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  .date {
      font-size: 11px;
  }

  .yellow {
      width:90px;
      height:20px;
      background: #FDDD92;
      margin-left: -25px;
      position: absolute;
  }

  .stack {
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  .title-stack {
      height: 35px;
  }

  .techno {
    color: #212121;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;

}

.yellow-footer {
    background-color: #FDDD92;
    height: 100px;
}

.white {
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 10px;
    letter-spacing: 2px;
}

.slogan {
    font-size: 1.4em;
    font-family: 'Alata', sans-serif;
}

.divider {
    margin: 6%;
}

.underline {
    border-top: solid 2px #FDDD92;
    width: 100px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.grey-bg {
    background-color: #c8c8ca;
}

.bc {
    font-size: 12px;
}

.bc-right {
    float: right;
}

.top {
    margin-top: 10px;
}

.quote-preview {
    max-width: 400px;
}


@media (max-width: 800px) {

    .bold-title {
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .headerLink {
        text-align: center;

    }

    .iconHeader {
        float: none;
    }

    .right{
        left: 0;
    }
    .timeline-container::after{
        display: none;
    }

    .text-wrapper::after{
        display: none;
    }

    h1 {
        font-size: 1.7em;
    }

    .timeline-container {
        max-width: 760px;
        margin: 0 auto;
    }

}